# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
./TRMS-Frontend
./TRMS-Backend
./Doc/
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang-20200410T004433Z-001.zip
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094748.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094808.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094814.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094830.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094839.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094848.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.1/IMG_20181114_094853.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083555.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083611.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083618.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083628.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083638.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083648.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083653.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Thanh Huyền/Bệnh án tuần 2.2/IMG_20181025_083700.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3512.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3513.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3514.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3515.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3516.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3517.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3518.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3519.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3520.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3521.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3522.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3523.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3524.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Bùi Thị Yến Ngọc/IMG_3525.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170604.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170618.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170625.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170637.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170644.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170653.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170659.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170817.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170828.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170841.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170853.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170904.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170916.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170923.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Hoàng Thị Ly Ly/IMG_20190302_170936.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8441.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8442.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8443.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8444.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8445.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8589.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8590.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8591.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8592.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Anh/IMG_8593.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1450.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1451.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1452.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1453.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1454.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1455.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1456.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1457.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1458.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Lê Thị Hiền/IMG_1459.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6314.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6315.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6316.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6317.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6318.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6319.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6320.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6321.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6322.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Bích Thảo/IMG_6323.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170825.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170838.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170846.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170905.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170912.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170922.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170930.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170942.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170948.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302170958.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302171004.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Huy Trường/IMG20190302171012.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5667.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5668.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5669.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5670.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5671.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5672.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5673.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5674.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5675.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5676.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5677.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5678.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5679.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5680.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5681.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5682.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Khánh Linh/IMG_5683.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182222.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182237.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182244.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182250.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182256.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182302.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182311.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182326.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182334.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thảo Dương/20190302_182339.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235234.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235247.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235255.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235308.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235323.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235338.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235349.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235357.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235411.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235423.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235440.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235456.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235503.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235518.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235529.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hiệp/20190227_235541.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_210951.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211001.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211007.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211012.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211017.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211027.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211033.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190301_211037.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190302_120527.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190302_120531.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190302_120536.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Hương Quỳnh/20190302_120544.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3012.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3013.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3014.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3015.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3016.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3017.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3018.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3019.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3020.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3021.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3022.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/IMG_3023.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_1604505456319325(1).jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_1604505456319325.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_2502896136406063.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_252115355676919.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_257654255146340.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_333486607272028.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_404463930110484.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_414257632451125.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_535276910313017.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_593689897764612.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_834064703637112.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Nguyễn Thị Lan Anh/received_868978523442054.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5510.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5511.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5512.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5513.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5514.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5515.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5516.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5517.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5518.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5519.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5520.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5521.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5522.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5523.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5524.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Khuyên/IMG_5525.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9396.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9397.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9398.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9399.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9400.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9401.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9402.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9403.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9404.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Phạm Thị Thiên Lý/IMG_9405.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52887006_2269246210016433_4599443974359351296_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52902761_2269246236683097_6909625957103960064_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52914060_2269245990016455_8260528725158789120_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52944408_2269246040016450_8644516934773112832_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52952632_2269246096683111_5183340749571227648_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/52970938_2269246003349787_5382690831981346816_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53050569_2269246413349746_3697145072878354432_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53069481_2269246050016449_8979427038427348992_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53169349_2269245960016458_8224032622813118464_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53466089_2269246430016411_21491737176309760_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53556658_2269246246683096_5190930820071686144_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Trần Hải Yến/53611010_2269246103349777_2343585768766701568_n.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/Chẩn đoán và phân biệt chứng hậu 2 .pdf
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/chẩn đoán và phân biệt chứng hậu trong đông y P1.pdf
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162328.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162335.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162359.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162409.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162415.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162421.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162429.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162438.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162445.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/IMG_20190301_162451.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/phuong te hoc giang nghia_Fb Huy Dũng.pdf
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Tô Thị Khánh Hoa/Thuat cham cuu_Fb Huy Dũng.pdf
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201216.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201222.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201226.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201231.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201236.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201245.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201249.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/IMG_20190302_201253.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_2015116018791348.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_2141942716095927.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_2144991315594353.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_322191278428761.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_330409327600575.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_379746902858495.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/received_522440181579966.jpeg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/T2.1.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Minh Quân/tuần 2/VID20190301205724.mp4
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184111.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184121(1).jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184121.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184132(1).jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184132.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184213.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184240.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184251.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184304.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Thùy Hương/20190302_184326.jpg
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0970.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0971.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0972.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0973.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0974.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0975.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0976.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0977.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0979.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0980.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0981.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0982.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0983.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0984.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0985.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0986.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0987.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0988.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0989.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0990.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0991.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Vũ Thị Ánh Tuyết/IMG_0992.JPG
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4285.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4286.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4287.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4288.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4289.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4290.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4291.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4292.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4293.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4294.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4295.HEIC
Doc/recordData/Bệnh án tuần 2 - Viện YHCT Tuyên Quang/Đào Thị Hiền/IMG_4296.HEIC
